<% redIfConn if check_conn %>
<% if params.has_key?("username") && params.has_key?("password") %>
<% params[:username] = strip_tags(params[:username].gsub(/\s+/, "")) %>
  <% log = signin(params) %>
  <% if log == 'OK' %>
    <% @errors = "Bentornato!" %>
  <% else %>
    <% @errors = log %>
  <% end %>
<% else %>
  <% @errors = "Riempi tutti i campi" %>
<% end %>

<%= render "layouts/header" %>
<section class="body_page">
  <%= render "layouts/posts" %>
  <%= render "layouts/sidebar" %>
</section>
<%= render "layouts/footer" %>
