// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import info

header
  width:	100%
  height:	50px
  background-color:	$hFontColor
  padding: 5px
  border-bottom: rgba(0,0,0,.5) 2px solid
  margin-bottom: 20px

  section
    width: $maxwidth
    height: 50px
    margin: auto

    #logo
      font-family: monospace
      color: #FFF
      font-size: 20pt
      text-shadow: rgba(0,0,0,.5) 0 2px 0
      font-weight: 300
      margin: .7% 1.2%

      span
        background-color: #fff
        color: #333
        +radius(5px)
        text-shadow: none
        padding: 0 3px
