// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import info

header
  .log
    width: 100%
    height: 100%
    z-index: 1
    position: fixed
    top: 0
    background-color: rgba(0,0,0,0.9)
    display: none

    .x_close
      float: right
      width: 50px
      opacity: .8
      margin: 10px
      cursor: pointer
    .x_close:hover
      opacity: 1
    .signin
      display: none
    .switchLogin,
    .switchSignup,
    .signForgotPsw
      margin: 15px
      float: left
      cursor: pointer
    .signForgotPsw
      text-decoration: underline
    .switchLogin:hover,
    .switchSignup:hover,
      text-decoration: underline
    .sign
      width: 50%
      margin: 125px auto
      background: #fff
      padding: 10px
      +radius(5px)
      overflow: hidden

      form
        .errors
          text-align: center
          margin: -10px 0 10px
          color: red
        input
          background: #ccc
          padding: 10px
          +radius(100px)
          color: #000
          font-family: $fontFamily
          width: 95%
          font-size: 9pt
          border: none
          outline-color: transparent
          margin: 5px auto

        #submit
          background-color: $fcolor
          float: right
          width: 100px
          margin-right: 2%
          color: #fff
          cursor: pointer
        #submit:hover
          background-color: darken($fcolor, 10%)

      h1
        font-size: $hFontSize*2
        color: lighten(#ccc, 30%)
        text-align: center
        margin: 30px 0
        background-color: $fcolor
        margin: -10px -10px 30px
        padding: 10px
        text-shadow: rgba(0,0,0,0.2) 0 2px 0
