// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import info

.topics
  width: 73%
  height: auto
  float: left
  margin-right: 1%
  padding: 10px
  background: #FAFAFA
  margin-bottom: 5px
  .votes_up
    color: #c0392b
  .votes_up:hover
    color: darken(#c0392b, 10%)
  .votes_down
    color: #ccc
  .votes_down:hover
    color: darken(#ccc, 10%)
  .tsb
    margin: 5px 0 !important
  .t_segn_body, .tsb
    position: absolute
    width: 400px
    height: 100px
    margin: 15px 0 0 100px
    background: #FFF
    border: #CCC 1px solid
    padding: 10px
    display: none

    form textarea
      color: #333
      padding: 10px
      margin: 0
      width: 375px
      border-radius: 4px
      font-family: monospace
      font-size: 9pt
      max-width: 375px
      max-height: 50px
      border: 1px solid rgb(204, 204, 204)
      height: 50px

    form input
      float: right
      margin: 4px
      cursor: pointer
  // postbody
  .titolo
    font-size: 23pt
    font-family: 'Lato', sans-serif
    text-shadow: rgba(255,255,255,0.4) 0 2px 0
    color: #1E1E1E
    text-decoration: none
    padding: 0 5px 15px 5px
    border-bottom: rgba(0,0,0,0.1) 2px solid
    margin-top: -7px
  ul
    width: 100%
    display: flex
  .tag
    float: left
    list-style: none
    margin: 10px 5px
  .tag a
    text-decoration: none
    cursor: pointer
    margin-right: -2px

  .tag span
    background-color: $fcolor
    color: #FFF
    padding: 5px
    +radius(2px)

  .tag span:hover
    background-color: darken($fcolor, 10%)
  .t_body
    margin: 0
    padding: 10px 10px 20px 10px
    border-bottom: rgba(0, 0, 0, 0.1) 2px solid
  .t_info
    padding: 10px
    font-family: 'Lato', sans-serif
    font-size: 13pt
    color: #1e1e1e
    border-bottom: rgba(0, 0, 0, 0.1) 2px solid

    .nicknameUser::before
      @extend .beforeUser

    a
      text-decoration: none
      color: #1e1e1e
      font-weight: bold
      cursor: pointer
    a:hover
      text-decoration: underline

    .t_i_right
      float: right
      margin: -1px

      span
        padding: 3px
        font-size: 11pt
        +radius(5px)
        display: block
        float: left
        color: #FFF
        cursor: default
        margin-left: 10px

      .comments_p
        background-color: #aaa

      .comments_p:hover
        background-color: darken(#aaa, 10%)

      .votes_p
        background-color: #c0392b

      .votes_p:hover
        background-color: darken(#c0392b, 10%)

  // commenti
  .comments
    .cm_body
      padding: 10px 0
      border-bottom: rgba(0, 0, 0, 0.1) 2px solid
      display: flex

      .cm_b_left
        width: 50px
        float: left
        height: auto

        .cm_b_l_avatar
          width: 50px
          height: 50px
          background-position: center
          background-size: 100%
          +radius(100%)

        .cm_b_l_vote
          font-size: 26pt
          margin: 10px

          span
            font-size: 9pt
            display: block
            font-family: 'Lato'
            text-align: center
            font-weight: bold
            color: #aaa

      .cm_b_right
        float: right
        margin-left: 10px
        width: 90%

        .cm_b_r_info
          font-family: 'Lato', sans-serif
          font-size: 13pt
          color: #1e1e1e

          a::before
            @extend .beforeUser

          a
            text-decoration: none
            color: #1e1e1e
            font-weight: bold
        .cm_b_r_cmd a
          cursor: pointer
          color: #1e1e1e
          text-decoration: none
        .cm_b_r_cmd a:hover
          text-decoration: underline

  .cm_b_r_text, #wmd-preview-c, .t_body
    background-color: darken(#FFF, 5%)
    padding: 10px
    margin: 10px 0
    width: 100%
    +radius(4px)

    table tr th, table tr td
      border: #ddd 1px solid
      background-color: #FFF
      padding: 5px
      +radius(2px)

    blockquote
      background-image: url('/assets/quotes_blockquote.png')
      background-size: 25px
      background-position: right
      background-repeat: no-repeat
    pre, blockquote
      padding: 10px
      +radius(4px)
      +shadow(rgba(0,0,0,0.2) 0 0 2px)
      background-color: #FFF

    p code
      +radius(4px)
      +shadow(rgba(0,0,0,0.2) 0 0 2px)
      background-color: #FFF
      padding: 1px !important

    img
      max-width: 100%
      max-height: 300px
      display: block
      margin: 0 auto

  .edit_post, .edit_comments
    form
      width: 100%
      display: inline-block
      textarea
        height: 200px !important

  .add_comments,
  .edit_comments,
  .edit_post
    .errors
      padding: 20px 0 10px
      color: red
    form textarea, form input
      background-color: #FFF
      color: #1e1e1e
      padding: 10px
      margin: 10px 0px
      width: 888px
      border-radius: 4px
      font-family: $fontFamily
      font-size: 11pt
      max-width: 97%
      height: 16px
      max-height: 300px
      outline-color: $fcolor
      +transition(.2s)
      border: #CCC 1px solid

    form #submit
      height: 35px
      background-color: $fcolor
      float: right
      width: 100px
      margin-right: 2%
      color: #fff
      cursor: pointer
      font-size: 9pt
      border: none
      outline-color: transparent
      margin: 5px auto
      padding: 10px
      +radius(100px)
      font-family: $fontFamily

    form #submit:hover
      background-color: darken($fcolor, 10%)

    #wmd-preview-c::before
      content: 'Anteprima'
      display: block
      font-family: "Lato", sans-serif
      font-size: 13pt
      font-weight: bold
      color: darken(#FFF, 30%)
