<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title + " · " if @page_title %> reseau</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://dcariotti.github.io/Markdown.Converter.js"></script>
	<script src="https://dcariotti.github.io/Markdown.Editor.js"></script>
	<script src="https://dcariotti.github.io/Markdown.Extra.js"></script>
    <link rel="stylesheet" media="all" href="/assets/application.css" data-turbolinks-track="reload" />
    <script src="/assets/application.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/highlight.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Lato">
<script>hljs.initHighlightingOnLoad();</script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
